<link href="https://cdn.jsdelivr.net/npm/jsvectormap/dist/css/jsvectormap.min.css" rel="stylesheet" type="text/css" />

<div class="card mb-3">
  <div class="card-header"><i class="fa-solid fa-globe"></i> {{ heading_title }}</div>
  <div class="card-body">
    <div id="vmap" style="width: 100%; height: 260px;"></div>
  </div>
</div>

<link href="view/javascript/jsvectormap/jsvectormap.min.css" rel="stylesheet" type="text/css" />
<script src="view/javascript/jsvectormap/jsvectormap.min.js" type="text/javascript"></script>
<script src="view/javascript/jsvectormap/maps/world.js" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $.ajax({
      url: 'index.php?route=extension/opencart/dashboard/map|map&user_token={{ user_token }}',
      dataType: 'json',
      success: function(json) {
        var mapData = {};
        for (i in json) {
          mapData[i] = json[i]['total'];
        }
        new jsVectorMap({
          selector: '#vmap',
          map: 'world',
          backgroundColor: 'transparent',
          draggable: true,
          zoomButtons: true,
          regionStyle: {
            initial: {
              fill: '#e3e3e3',
              stroke: '#fff',
              strokeWidth: 0.7
            },
            hover: {
              fill: '#1f95d7'
            }
          },
          series: {
            regions: [{
              values: mapData,
              scale: ['#BCF0F7', '#1f95d7'],
              normalizeFunction: 'polynomial'
            }]
          },
          onRegionTooltipShow(event, tooltip, code) {
            if (json[code]) {
              tooltip.text(
                      '<h5>' + tooltip.text() + '</h5>' +
                      '<b>{{ text_order }}: ' + json[code]['total'] + '</b><br />' +
                      '<b>{{ text_sale }}: ' + json[code]['amount'] + '</b>'
                      , true);
            }
          }
        });
      }
    });
  });
</script>