/.idea
/*.cache

# Image cache files
/www/image/cache/*
!/www/image/cache/index.html

# Storage files
/www/system/storage/backup/*
!/www/system/storage/backup/index.html
/www/system/storage/cache/*
!/www/system/storage/cache/index.html
/www/system/storage/download/*
!/www/system/storage/download/index.html
!/www/system/storage/download/linuxmint.zip.73534af7d03df29ac0158455c46e3d2a
/www/system/storage/logs/*
!/www/system/storage/logs/index.html
/www/system/storage/session/*
!/www/system/storage/session/index.html
/www/system/storage/upload/*
!/www/system/storage/upload/index.html

# CSS Files
/www/admin/view/stylesheet/*.css
/www/catalog/view/stylesheet/*.css

# Docker files
/.docker/log/apache/*
!/.docker/log/apache/.gitkeep
/.docker/log/php/*
!/.docker/log/php/.gitkeep
/.docker/log/xdebug/*
!/.docker/log/xdebug/.gitkeep
